<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- styles -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link href="src/css/master.css" rel="stylesheet">
	

    <!-- libs -->
		<!-- <script src="lib/vue-dev.js"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link 
			rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
			integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
			crossorigin="anonymous"
		>
		<title>MindyBox</title>
	</head>

	<body>
		

		<div class='portfolio_wrapper' id="main_body">

			<Headermenu 
				v-bind:rootstate="rootState"
				v-bind:resumehref="resumeHref"
			>
			</Headermenu>

			<div class="flushed_block" id="intro">
				<div class="content">
					<a
						href="#" 
						class="big_title visible_normal">
						Hello, I am Mindy.
					</a>
					<a 
						href="#"	
						class="big_title visible_mobile">
						Hello, <br/>I am Mindy.
					</a>

					<h2 class="stick">
							A full-stack web and software developer.
					</h2>
					<h2 
						id="career_summary"	
						class="softer_color"
					>
						I am currently putting Robotics and Education (and fun) together.
						I find passion for building and solving problems around creative tools 
						and web applications.
					</h2>
					<div 
						id="career_message"
						class="small_title softer_color"
					>
							I am looking for my next challenges! 
							<span class="visible_normal"> >> </span>
							<div class="button_container">
								<a href="mailto:meehyunjang@gmail.com" class="btn">
									<span class="icon far fa-envelope"></span> Get in touch!
								</a>
								<a 
									class="btn visible_mobile"
									v-bind:href="resumeHref" 
									target="_blank"
								>
									<span class="icon far fa-file"></span> Resume
								</a>
							</div>
					
							<br/>
							<br/>
							<br/>
							<br/>

					</div>
				</div>
			</div>
			
			<div class="block flex_column" id="aboutme">
					<Titlebox title="About me"></Titlebox>
				<div class="content flex_row">
						<div class="box me_description">
							<p>
								<strong>I am a creative-oriented software engineer who is also an aspiring comic artist.</strong>
								At first, my set of skills were seemingly disconnected, but they came together to help me become a full-stack developer.
							</p>
							<p>
								<strong>My 7 years of professional journey</strong> goes through organizations that focused on robotics and education. 
								I frequently collaborate with other creative, educators, and technical minds, and bridge the gap between front-end and back-end.
								</p>	
							<p>
								<strong>My passion keeps me motivated and excited</strong> to learn new things.  
								I am currently studying Machine Learning on the side, and hope to project this into my career.
							</p>

						</div>
				</div>
				<div class="content">
						<div class="box" id="key_skills">
							<div class="skill_title flex_row space_between">
								<span class="group">
										Skills overview
								</span>
							</div>

							<div class="skill_list flex_row">
								<skill-card
									v-for="(skill, ind) in skillData.data"
									v-bind:skillobj="skill"
									v-bind:index="ind"
									v-bind:key="skill.title"
								/>	
							</div>
						</div>

					</div>

			</div>

			<div class="block flex_column" id="workexp">
				<Titlebox title="Work Experience"></Titlebox>
				<div class="content flood">
					<work-cards 
						v-for="(work, ind) in workExperienceData.data"
						v-bind:rootState="rootState"
						v-bind:workobj="work"
						v-bind:index="ind"
						v-bind:key="work.title"/>
				</div>
			</div>

			<div class="block flex_column" id="projects">
				<Titlebox title="Notable Projects"></Titlebox>
				<div class="content flood">
					<transition-group 
						name="shift-card"
						class="cardlist flex_row wrap" 
						id="notable_projects"
						v-on:after-enter="filler_afterEnter"
					>
						<project-card 
							v-for="(proj, ind) in projectData.projects"
							v-bind:proj="proj"
							v-bind:index="ind"
							v-bind:depressnow="rootState.depressNow"
							v-bind:key="proj.title"
						/>
					</transition-group>
					<!-- end: cardlist -->

				</div> <!-- end content -->
			</div>
		
			


			<div class="block flex_column" id="activities">
				<Titlebox title="Other Activities"></Titlebox>
				<div class="content">
						<activity-card
							v-for="(act, ind) in activityData.data"
							v-bind:act="act"
							v-bind:index="ind"
							v-bind:key="ind"
						/>

				</div>
			</div>


		
			<div class="block flex_column" id="contact">
				<Titlebox title="Contact"></Titlebox>
				<div class="content" style="text-align: center;">
					Thank you for your time. Hope you have a wonderful day!
					<br/>
					In the mean time, I will be continuously looking for more opportunities and challenges in the east coast. 
					<br/>

				</div>

				<div class="content flood" style="text-align: center;">
					
					<p class="tight">
						<span style="color: white;">Email: meehyunjang@gmail.com</span>
					</p>
					
					<br/>
					<a href="mailto:meehyunjang@gmail.com" class="btn large">
						<span class="icon far fa-envelope"></span> Get in touch
					</a>
					
				</div>
			</div>

			<div class="block flex_row" id="footer">
				<span>
					Created by Mindy Jang<span style="margin:0 10px;">|</span>Powered by Vue.js
				</span>
			</div>




		</div> <!-- end: portfolio -->

		<!-- modal -->
		<div id="modal_wrapper"></div>

		
		<script src="src/components/Store.js" type="text/javascript"></script>
		<script src="dist/main.js" type="text/javascript"></script>

		<!-- <script type="text/javascript" src="/src/json/data_projects.js"></script>
		<script type="text/javascript" src="/src/json/data_works.js"></script>

		<script type="text/javascript" src="/src/scripts/proj.v.js"></script>
		<script type="text/javascript" src="/src/scripts/workExp.v.js"></script> -->


	</body>
</html>