<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- styles -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link href="src/css/master.css" rel="stylesheet">
	

    <!-- libs -->
    <script src="lib/vue-dev.js"></script>

		<title>MindyBox</title>
	</head>

	<body>
		<div class="header">
			Mindybox
		</div>

		<div class='portfolio_wrapper' id="main_body">

			<div class="block" id="intro">
				<div class="content">
					<h1>Hello, I am Mindy!</h1>
					<h1>I am a self-taught Software Developer who've dedicated herself to Robotics and Education.</h1>
					<h1>This is my story:</h1>
				</div>
			</div>
			
			<div class="block" id="aboutme">
	
				<div class="content">
					<div class="flex_row">
						<div class="box" style="width:60%">
							<p>
								I was taught to be a mechanical engineer, self-taught to be a software developer, and keep my mind open to be an artist.
							</p>
							<p>
								I became a full stack web developer in companies and organization that focus on education and robotics. I am now dipping my toe in DevOps and Deep Learning. I've adopted agile development into my practice and is motivated by success of the product. It is important for me to stay humble, and constantly read and learn.  
							</p>
							<p>
								I am currently seeking new opportunities in the east coast, and can't wait for new things I will learn and fun new projects I will dig into! 
							</p>

						</div>
						<div class="box">
							<p>
								Key skills
								<ul>
									<li>React, Vue</li>
									<li>Javascript</li>
									<li>Python/Django</li>
									<li>Ruby on Rails</li>
									<li>Agile/git/RESTful frameworks</li>
								</ul>
							</p>

							<p>
								Key tools
								<ul>
									<li>Git, Gitlab</li>
									<li>Illustrator, Photoshop, Animate</li>
								</ul>
							</p>
							 
	
							
						</div>

					</div>
					
				</div>
			</div>

			<div class="block flex_column" id="workexp">
				<div class="content">
					<div class="section_title_wrapper flex_row justify_center">
						<span class="line"></span>
						<span class="title">Work Experience</span>
						<span class="line"></span>
					</div>
					
				</div>
				<div class="content flood">
				
					<work-cards v-for="(work, ind) in workExperienceData.data"
										  v-bind:workobj="work"
										  v-bind:index="ind"
										  v-bind:key="work.title"/>
				</div>
			</div>

			<div class="block" id="projects">
				<div class="content">
					<h1>Notable Projects</h1>
					<p>
						This is the path I took to get where I am today. (Newest to Oldest)
					</p>
					<transition-group name="shift-card"
									  class="cardlist flex_row wrap" 
						 			  id="notable_projects"
						 			  v-on:after-enter="filler_afterEnter">
							<project-card v-for="(proj, ind) in projectData.projects"
										  v-bind:proj="proj"
										  v-bind:index="ind"
										  v-bind:key="proj.title"/>
					</transition-group>
					<!-- end: cardlist -->

	

				</div> <!-- end content -->
			</div>
		



			<div class="block" id="small-projects">
				<div class="content">
					<h1>My Side Tracks</h1>

					<p>
						Smaller projects that are ongoing that I am excited for. 
					</p>

					div.project-item
					div.thumb
					div.description
						span.name Muter
						span Harassers online are often provoked even more by action of "blocking". The best way to combat harassers and trolls online is a complete disengagement. But that can only get you so far. This chrome extention mutes anonymous harassers stealthly. 
					div.tags
						ol
							li JQuery

				div.project-item
					div.thumb
						image
					div.title
						span.name PyChat
						span.role Software Dev
					div.description
						span May look like rudimentary chat client, but can send hand drawn messages. The hand-drawn drawings can be dranw in frames to make a short animatio
					div.tags
						ol
							li Python
							li Tornado
							li Pillow

				div.project-item
					div.thumb
						image
					div.title
						span.name Money Buffer
						span.role Creator
					div.description
						span Gameifies your spending by "buffering" your money daily. Whatever you do not spend on your daily buffer is added to the buffer, getting bigger and bigger. Be more aware of your spending habits and save money.
					div.tags
						ol
							li Excel
							li VBA

				

		

				</div>
			</div>


			<div class="block">
				<div class="content">
					<h1>Ice Breakers</h1>
					<p>Other activities that could help start a conversation.</p>

					<p>
						<ul>
							<li>Programming judge: at FLL and VEX Robotics Competition</li>
							<li>Professional training TA </li>
							<li>Udacity: Currently teaching myself Machine Learning and Deep Neural Networks. </li>
							<li>Global Game Jam 2017. Our team won an award! Unity </li>
							<li>I make crazy cards : Die cutter, perf boards, soldering iron</li>
						</ul>
						
					</p>
		

					

				
				</div>
			</div>
		
			<div class="block">
				<div class="content">
					<h1>Keep in touch</h1>

					Thank you for dropping by!
				</div>
			</div>

			<div class="block" id="footer">
				<div class="content">
					This is footer
				</div>
			</div>




		</div> <!-- end: portfolio -->


		
		<script type="text/javascript" src="/src/json/data_projects.js"></script>
		<script type="text/javascript" src="/src/json/data_works.js"></script>
		
		<script type="text/javascript" src="/src/scripts/proj.v.js"></script>
		<script type="text/javascript" src="/src/scripts/workExp.v.js"></script>


	</body>
</html>