$SKILLITEM_WIDTH: 23%;

#key_skills{
    border: 4px solid $light_lightBase;
    border-radius: 10px;

    .skill_title{
        padding: 15px 35px;
        background-color: $light_lightBase;
    }

    .skill_list{
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px 35px;
        margin: 0;
        /*color: $light_mediumKey;*/
    }

    .subskill_group{
        margin: 10px 5px;
        width: 23%;

        .subskill_title{
            background-color: #dad9e9;
            padding: 6px 15px;
            color: $light_text1;
        }

        .subskill_content{
            height: fit-content;
            margin: 0px; 
            padding: 6px 10px;
            background-color: $light_lightBase;
            border-bottom: 2px solid #dbdbdb;
        }

        .subskill_content li{
            list-style-type: none;
            padding: 5px;
            font-size: 1em;
        }
        .subskill_content li.is_small{
            font-size: 0.7em;
        }
    }

    /* Some skills are divided into part 1 and 2 due to their length. 
       They are rendered separately, but styled as if they are one container.
    */
    
    .subskill_group.is_part1{
        margin-right:0;
    }
    .subskill_group.is_part2{
        margin-left: 0px;

        .subskill_title {
            color: transparent;
        }
    }
}

.me_description{
    padding: 0px 35px;
}

#aboutme .content:last-of-type{
    padding-top: 0;
    margin-bottom: 80px;
}



@media (max-width: 850px) {
	#key_skills{
        .subskill_group{
            width: 30%;
        }
        .subskill_group.is_part1,
        .subskill_group.is_part2{
            width: 40%;
        }
    }
}

@media (max-width: 570px) {
    .me_description{
        padding: 0px 15px;
    }


    #key_skills{
        .skill_list{
            padding: 0;
        }
        .subskill_group{
            width: 45%;
        }
        .subskill_group.is_part1,
        .subskill_group.is_part2{
            width: 45%;
        }
    }
}