$SKILLITEM_WIDTH: 23%;

#key_skills{
    border: 4px solid $light_lightBase;
    border-radius: 10px;

    .skill_title{
        padding: 15px 35px;
        background-color: $light_lightBase;
    }

    .skill_list{
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px 35px;
        margin: 0;
        color: $light_mediumKey;

        li{
            list-style-type: none;
            flex-shrink: 0;
            width: $SKILLITEM_WIDTH; 
            height: fit-content;
            margin: 5px;
            background-color: $light_lightBase;
            border-bottom:2px solid #dbdbdb;
            

            text-align: center;
            
            transition-property: height;
            transition-duration: 0.5s;

            .subskill_title{
                background-color: #dad9e9;
                padding: 10px;
                color: $light_text1;
            }

            .subskill_content{
                padding: 10px;
            }
        }
    }
}

.me_description{
    padding: 0px 35px;
}

#aboutme .content:last-of-type{
    padding-top: 0;
    margin-bottom: 80px;
}


@media (max-width: 570px) {
    .me_description{
        padding: 0px 15px;
    }
}