
$THUMBNAIL_HEIGHT: 124px;
$CARD_WIDTH: 22vw;
$CARD_HEIGHT: 300px;
$space_around_card: 10px;
$PROJ_CARD_BORDER: #cecece;

.cardlist{
	justify-content: center;
}

.card_project{

	display:flex;
	flex-direction: column;

	position:relative;
	/* background-color: $light_mediumBase; */
	background-color: white;
	width: $CARD_WIDTH;
	height: $CARD_HEIGHT;
	font-size: 0.9em;

	border-bottom: 2px solid $light_darkBase;

	overflow: hidden;
	margin-top: 8px; /* $space_around_card - border */
	margin-right: $space_around_card;
	margin-bottom: $space_around_card;
	margin-left: $space_around_card;

	cursor: pointer;

	transition-property: color, margin, border, background-color;
	transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;

	.thumbnail{
		/* background-color: #c7c7c7;*/
		height: fit-content;
		padding: 8px;
		-webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
		  filter: grayscale(70%);
		overflow: hidden;
		opacity: 0.5;
		  
		transition-property: filter, opacity;
		transition-duration: 0.7s;

		img{
			width: 100%;
			height: auto;
		}
	}

	.card_content{
		flex-grow:1;

		display:flex;
		flex-direction: column;
		justify-content: space-between;

		padding: 5px 20px 20px 20px;
	}

	.title{
		text-transform: uppercase;
		font-weight: bold;
		margin: 5px 0;
	}

	.tags{
		span{
			border-radius: 5px;
			padding: 5px 8px;
			margin: 0px 5px 5px 0;
			background-color: #2239a917;

			color: #192793;
			font-size: 0.8em;
			font-weight: bold;
		}
	}


	.short_summary{
		
		overflow: hidden;

		transition-property: opacity;
		transition-duration: $v-tran-dur;
		opacity: 1;

		.summary{
			margin-bottom: 5px;
		}
	}

	.long_summary{
		transition-property: opacity;
		transition-duration:0.5s;
	}

}

.card_project:hover{
	margin-top: 0px;
	border-bottom: 10px solid $light_darkBase;
	/* background-color: #e3e3e5; */

	.thumbnail{
		-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
		filter: grayscale(0%);

	  	opacity: 1;
	
	}
}

$width-expand-dur: 0.2s;

.card_project.active{
	
	background-color: white;
	margin-top: 0px;
	border-bottom: 10px solid $light_darkBase;
	color: $light_lightKey;
}

.card_project.opened{
	/* Used for adding slightly different transition property on 
	   project cards they were "opened". Since "active" turns off
	   immediately when closed, needed a second class to do this */

	transition-property: color, margin, border, background-color;
	transition-duration: 0.5s, 0.8s, 0.8s, 0.5s;
	transition-delay: 0.5s, 0.2s, 0.2s, 0.5s;
}


@media (max-width: 1100px) {
	.card_project{
		width: 30vw;

	}
}
@media (max-width: 800px) {
	.card_project{
		width: 44vw;
	
	}
}
@media (max-width: 570px) {
	.card_project{
		width: 85vw;
		/*font-size:0.9em;*/
		height: auto;

		.thumbnail{
			-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
			filter: grayscale(0%);

			opacity: 1;
		}
	}
}
