.card_activity_wrapper {
    margin: 20px 0;
    padding: 0 20px;
}

.card_activity_wrapper.indent{
    justify-content: flex-end;
}


.card_activity{
    background-color: white;
    padding: 25px 50px;
    width: 82%;

    .title{

        margin-bottom: 10px;

        text-transform: uppercase;
        font-weight: bold;
        font-family: monospace;
        font-size: 1.5em;
    }

    a{
        font-weight: bold;
        color: $light_mediumKey;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}

