$card-height: 180px;
$card-width: 41%;

.card{
	position:relative;
	padding: 20px;
	border:1px solid #ff966e2b;
	border-radius: 10px;
	width: $card-width;
	height: $card-height;

	overflow: hidden;
	margin: 10px;

	cursor: pointer;

	transition-property: height, border, background-color;
	transition-duration: 0.2s;

	.title{
		text-transform: uppercase;
		font-weight: bold;
		margin: 5px 0;
	}

	.tags{
		span{
			border:1px solid $hl-blue;
			border-radius: 5px;
			padding: 3px 6px;
			margin: 0px 5px 5px 0;
			color: $hl-blue;
			font-size: 0.7em;

		}
	}


	.short_summary{
		
		overflow: hidden;

		transition-property: opacity;
		transition-duration: $v-tran-dur;
		opacity: 1;

		.summary{
			margin-bottom: 5px;
		}
	}

	.long_summary{
		transition-property: opacity;
		transition-duration:0.5s;
	}

}

.card:hover{
	border:1px solid #d4a989;
}

$width-expand-dur: 0.2s;

.card.active{
	

	background-color: #ffbb750a;

	animation-name: open-card;
	animation-duration: $width-expand-dur;
	animation-delay: 0.1s;
	animation-fill-mode: both;

	.short_summary{
		opacity: 0;
	}
}

/* Note: because height needs to be calculated, it is done in main.js.
		 check toggleCard() for details */
@keyframes open-card{
  0%{
  	width: $card-width;
  }
  100% {
  	width: 89%;
  }
}

.card.filler{
	padding: 0;
	margin: 0;
	pointer-events: none;
	
	width:100%;
	height: 0px;
	border:0px solid yellow;
	overflow:hidden;

	/* for shrinking
	transition-property: width;
	transition-duration: 0.25s; */
}
.card.filler.shrink{
	/* this class is applied in fillerEnter() */
}

.card.hidden{
	/* bug?: v-transition 'shift-card' does not happen if the first 
			 clicked element is the first element in the list under the 
			 v-transition 'shift-card'. All transition by clicking subsequent
			 cards also fails. But if the first element clicked is 
			 NOT the first card, the v-transition renders okay */
	height: 0px;
	pointer-events: none;
	opacity: 0;
	padding: 0; margin: 0;
}