.work_card_wrapper{
    width: 100%;
    /* This is set by script */
    /* background-color: $light_mediumBase; */
    margin: 50px 0;
}



.work_card{
    position:relative;
    
    width: $content_width;
    max-width: 700px;
    margin: 0 auto;

	transition-property: background-color;
    transition-duration: 0.2s;
    
    .content_left{
        /* decorative bar */
        background-color: $light_darkKey;
        flex-shrink: 0;
        width: 5px;
        
    }
    .content_right{
        /* contains actual content */
        flex-grow: 1;
        padding: 25px 35px;
    }

    .card_head{
        .role{
            flex-grow: 1;
            .role_name{
                text-transform: uppercase;
                font-weight: bold;
            }
            .role_company{
                font-weight: bold;
            }
        }

        .year{
            width:fit-content;
            border-left: 1px solid $light_darkBase;
            padding: 10px 0 10px 20px;

            span{
                align-self: center;
            }
        }
    }

	

	.tags{
		span{
			border:1px solid $hl-blue;
			border-radius: 5px;
			padding: 3px 6px;
			margin: 0px 5px 5px 0;
			color: $hl-blue;
			font-size: 0.7em;

		}
    }
}