.card{
	padding: 20px;
	border:1px solid #ffbd012b;
	border-radius: 10px;
	width: 41%;
	height:200px;

	margin: 10px;

	cursor: pointer;

	transition-property: width, height, position, border;
	transition-duration: 0.5s;

	.title{
		text-transform: uppercase;
		font-weight: bold;
		margin: 5px 0;
	}

	.short_summary{

		.summary{
			margin-bottom: 5px;
		}
		

		.tags{

			span{
				border:1px solid $hl-blue;
				border-radius: 5px;
				padding: 3px 6px;
				margin: 0px 5px 5px 0;
				color: $hl-blue;
				font-size: 0.7em;

			}
		}
	}
	
	.long_summary{
		display:none;
	}
}

.card:hover{
	border:1px solid #d5a958;
}

.card.filler{
	pointer-events: none;
	opacity:0;
}
/*
.card.active{
	width: 100%;
	height: 250px;
}*/