.work_card_wrapper{
    width: 100%;
    /* This is set by script */
    /* background-color: $light_mediumBase; */
    margin: 20px 0 50px 0;
}

.content .work_card_wrapper:last-of-type{
    margin-bottom: 150px;
}


.work_card{
    position:relative;
    
    width: $content_width;
    max-width: $WORK_EXP_MAX_WIDTH;
    margin: 0 auto;

	transition-property: background-color;
    transition-duration: 0.2s;
    
    .content_left{
        /* decorative bar */
        background-color: $light_darkKey;
        flex-shrink: 0;
        width: 5px;
        
    }
    .content_right{
        /* contains actual content */
        flex-grow: 1;
        padding: 30px 35px;
    }

    .card_head{
        .role{
            flex-grow: 1;
            .role_name{
                text-transform: uppercase;
                font-weight: bold;
                font-family: monospace;
                font-size: 1.5em;
            }
            .role_company{
                font-weight: bold;
            }
        }

        .year{
            width:fit-content;
            border-left: 1px solid $light_mediumBase;
            padding: 10px 0 10px 20px;

            span{
                align-self: center;
                margin-right: 10px;
            }
        }
    }

    .card_body{
        line-height: 1.3em;
        ul{
            padding-left: 20px;
        }
        li{
            margin-bottom: 10px;
        }
    }

	

	.tags{
        margin-left: 20px;
        
		span{
			border:1px solid $light_mediumKey;
			border-radius: 5px;
			padding: 3px 6px;
			margin: 0px 5px 5px 0;
			color: $light_mediumKey;
			font-size: 0.7em;

		}
    }
}


@media (max-width: 570px) {
	.work_card{
		font-size: 0.9em;
	}
}