$card-height: 180px;
$card-width: 41%;
$space_around_card: 10px;

.card_project{
	position:relative;
	padding: 20px;
	background-color: $light_mediumBase;
	width: $card-width;
	height: $card-height;

	border-bottom: 2px solid $light_darkBase;

	overflow: hidden;
	margin-top: 8px; /* $space_around_card - border */
	margin-right: $space_around_card;
	margin-bottom: $space_around_card;
	margin-left: $space_around_card;

	cursor: pointer;

	transition-property: color, margin, border, background-color;
	transition-duration: 0.2s, 0.2s, 0.2s, 0s;

	.title{
		text-transform: uppercase;
		font-weight: bold;
		margin: 5px 0;
	}

	.tags{
		span{
			border:1px solid $hl-blue;
			border-radius: 5px;
			padding: 3px 6px;
			margin: 0px 5px 5px 0;
			color: $hl-blue;
			font-size: 0.7em;
		}
	}


	.short_summary{
		
		overflow: hidden;

		transition-property: opacity;
		transition-duration: $v-tran-dur;
		opacity: 1;

		.summary{
			margin-bottom: 5px;
		}
	}

	.long_summary{
		transition-property: opacity;
		transition-duration:0.5s;
	}

}

.card_project:hover{
	margin-top: 0px;
	border-bottom: 10px solid $light_darkBase;
}

$width-expand-dur: 0.2s;

.card_project.active{
	
	background-color: white;
	margin-top: 0px;
	border-bottom: 10px solid $light_darkBase;
	color: $light_lightKey;

	animation-name: none;
	animation-duration: $width-expand-dur;
	animation-delay: 0.1s;
	animation-fill-mode: both;
}

.card_project.opened{
	/* Used for adding slightly different transition property on 
	   project cards they were "opened". Since "active" turns off
	   immediately when closed, needed a second class to do this */

	transition-property: color, margin, border, background-color;
	transition-duration: 0.5s, 0.8s, 0.8s, 0.5s;
	transition-delay: 0.6s, 0.2s, 0.2s, 0.6s;
}

/* Note: because height needs to be calculated, it is done in main.js.
		 check toggleCard() for details */
@keyframes open-card{
  0%{
  	width: $card-width;
  }
  100% {
  	width: 89%;
  }
}

.card.filler{
	padding: 0;
	margin: 0;
	pointer-events: none;
	
	width:100%;
	height: 0px;
	border:0px solid yellow;
	overflow:hidden;

	/* for shrinking
	transition-property: width;
	transition-duration: 0.25s; */
}
.card.filler.shrink{
	/* this class is applied in fillerEnter() */
}

.card.hidden{
	/* bug?: v-transition 'shift-card' does not happen if the first 
			 clicked element is the first element in the list under the 
			 v-transition 'shift-card'. All transition by clicking subsequent
			 cards also fails. But if the first element clicked is 
			 NOT the first card, the v-transition renders okay */
	height: 0px;
	pointer-events: none;
	opacity: 0;
	padding: 0; margin: 0;
}