.card{
	padding: 20px;
	border:1px solid #3e225421;
	border-radius: 10px;

	margin: 0px 10px;

	.title{
		text-transform: uppercase;
		font-weight: bold;
		margin: 5px 0;
	}

	.short_summary{

		.summary{
			margin-bottom: 5px;
		}
		

		.tags{

			span{
				border:1px solid black;
				border-radius: 5px;
				padding: 3px 6px;
				color: blue;
				font-size: 0.7em;

			}
		}
	}
	
	.long_summary{
		display:none;
	}
}