
#portfolio_header{
	position: fixed;
	width: 100%;
    
    background-color: transparent;
    height: $HEADER_HEIGHT;
    /* padding: 0 30px; */ /* adds padding without shrinking width*/

    transition-property: background-color, box-shadow;
    transition-duration: 0.3s;
    z-index: 100;

    color: #f1f1ff7d;

	.group{
        align-self: center;
        margin-right: 20px;
        align-items: center;
        
    }

    a {
        color: $light_extralightKey;
        padding: 0 5px;

        transition-property: color;
        transition-duration: 0.3s;

        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    a.logo{
        font-size: 1.5em;
        font-weight: bold;
    }

    a.resume{
        border-radius: 5px;
        border: 1px solid white;
        padding: 7px 12px;
        margin-left: 10px;
    }
    a.resume:hover{
        text-decoration: none;
        background-color: #ffffff29;
    }
    
    .group:first-of-type{
        margin-left: 20px;
    }
}

#portfolio_header.detached{
    background-color: rgba(255, 255, 255, 0.95);

    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);

    color: rgba(121, 120, 177, 0.28);

    a{
        color: $light_lightKey;
    }

    a.resume{
        border: 1px solid $light_mediumKey;
        color: $light_mediumKey;
    }
    a.resume:hover{
        background-color: #6568ff12;
    }

}

#portfolio_header #open_menu_btn{
    font-size: 1.7em;
}

#toggle_menu{
    pointer-events: none;
    position: fixed;
    top:0; 
    right:-50px;
    width: 40vw;
    height: 100vh;
    background-color: white;
    padding: 15px 20px 0px 20px;

    text-align: right;

    opacity: 0;

    z-index: 102; /*above lightbox*/

    transition-property: opacity, right;
    transition-duration: 0.5s;

    a{
        font-size: 1.5em;
        color: $light_text1;
        margin: 10px 0;
    }
}

#toggle_menu.active{
    pointer-events: auto;
    opacity: 1;
    right:0px;
}


@media (min-width: 570px) {
	.visible_mobile{
        display: none !important;
    }
}
/*
@media (max-width: 800px) {
	.card_project{
		width: 44vw;
	
	}
}*/
@media (max-width: 570px) {
	.visible_normal{
        display: none !important;
    }
    .visible_mobile{
        display: inline-block !important; 
    }
}