$hl-blue: #99cfb9;

$base: #34332f;
$base-text: #b59e7a;

$base-light: #eaf2df;
$base-light-text: #57997e;

$v-tran-dur: 0.4s;

body, html{
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	color: #404265;
	font-size: 12pt;
}


.flex_row{
	display:flex;
	flex-direction:row;
}
.flex_row.wrap{
	flex-wrap: wrap;
}
.flex_row.centered{
	justify-content: center;
}
.flex_column{
	display:flex;
	flex-direction:column;
}
.flex_column.wrap{
	flex-wrap: wrap;
}

.box{
	flex-grow: 1;
}



.header{
	display:flex;
	position: fixed;
	flex-direction: row;
	width: 100%;

	background-color: #00000030;
	height: 50px;

	color: #b89d81;
}

.portfolio_wrapper{
	width: 100%;
	height: 100%;
}


.block{
	display:flex;
	background-color: $base;
	color: $base-text;

	.content{
		width: 900px;
		margin: 0 auto;
		padding: 30px 0;
	}
}

/* for each sections */
.block#intro{
	display:flex;
	flex-direction: column;
	justify-content: center;

	height: 450px;

}

.block#aboutme{
	background-color: #4c4b47;
}