.lightbox{
    position: fixed;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    background-color: #00000080;

    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 101;

    pointer-events: none;
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.3s;
}

.lightbox.active{
    pointer-events: auto;
    cursor: pointer;
    opacity: 1;
}

.modal{
    position: relative;
    cursor: default;

    align-self: center;

    background-color: white;
    margin: -10px auto 50px auto;
    width: 70vw;
    max-width: 750px;

    -webkit-box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.2);

    line-height: 1.5em;

    transition-property: margin;
    transition-duration: 0.6s;
    
    .close_btn{
        cursor: pointer;
        position: absolute;
        top: 0; right: 0;

        margin: 10px;
        width: 50px; height: 50px;
        background-image: url('img/close_btn.png');
        background-size: cover;
        
        opacity: 0.7;

        transition-property: opacity;
        transition-duration: 0.3s;
    }
    .close_btn:hover{
        opacity: 1;
    }

    .modal_unit{
        /* container for each unit of content */
        padding: 18px 50px 18px 40px;

        .content_unit{
            margin: 10px 0 30px 0;

            ul {list-style: none; padding: 0}
            ul li::before {
                content: "\25b6";
                margin-left: -23px; 
                margin-right: 10px;
                color: $light_text2;
            }
            li{
                padding-left: 40px;
            }
        }

        .content_unit:last-of-type{
            margin-bottom:40px;
        }
    }

    .image_header{
        height: 280px;
        overflow-x: scroll;
        overflow-y: hidden;
        .image_item{
            width: fit-content;
            border-right: 5px solid #2e2e2e;
        }
        img {
            height: 100%;
            width: auto;
        }
    }

    .title{
        background-color: $light_lightBase;
        font-size: 1.5em;
    }

    .description{
        margin-left: 30px;
    }

    .section_title{
        /* color: #1eaed1; */
        font-size: 1.1em;
        align-items: center;
        font-weight: bold;

        .title_icon{
            display: inline-block;
            width: 40px;
            font-size: 1.5em;
        }
    }
}


.lightbox.active .modal{
    margin-top: 30px;
}