#intro{
    background-image:url('img/splash_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -130px;
    color: lighten($KEY_TEXT_50, 5%);

    .big_title{
        font-size: 3.2em;
        font-weight: bold;
        text-decoration: none;
        color: lighten($KEY_TEXT_50, 12%);
    }
    a.big_title:hover{
        text-decoration: underline;
    }

    h2.stick{
        margin-top: 4px;
    }

    h1{
        font-size: 1.5em;
    }

    .softer_color{
        color: $KEY_TEXT_50;
    }

    .button_container{
        display:inline-block;
    }
}


@media (max-width: 1200px) {
    #intro{
        background-position-y: -90px;
    }
}

@media (max-width: 1000px) {
    #intro{
        background-position-y: -60px;
    }
}

@media (max-width: 800px) {
    #intro{
        background-position-y: -30px;
    }
} 


@media (max-width: 550px) {

    #intro{
        background-position-y: 0px;

        .big_title{
            font-size: 2.5em;
        }
    
        h2{
            font-size: 1.5em;
        }

        #career_summary{
            font-size: 1.2em;
        }

        #career_message{
            font-size: 1.1em;
            font-weight: bold;
        }

        .button_container{
            width: 100%;
            padding-top: 12px;
        }
    }

    
}