#intro{
    background-image:url('img/splash_bg.png');
    background-size: contain;
    background-repeat: no-repeat;

    .big_title{
        font-size: 3.2em;
        font-weight: bold;
        color: #464e79;
        text-decoration: none;
    }
    a.big_title:hover{
        text-decoration: underline;
    }

    h2.stick{
        margin-top: 4px;
    }

    h1{
        font-size: 1.5em;
    }

    .softer_color{
        color: #7e7aa8;
    }

    .button_container{
        display:inline-block;
    }
}


@media (max-width: 570px) {

    #intro{
        .big_title{
            font-size: 2.5em;
        }
    
        h2{
            font-size: 1.5em;
        }

        #career_summary{
            font-size: 1.2em;
        }

        #career_message{
            font-size: 1.1em;
            font-weight: bold;
        }

        .button_container{
            width: 100%;
            padding-top: 12px;
        }
    }

    
}