

.shift-card-move {
  transition: transform $v-tran-dur;
}

.shift-card-move-complete-enter, .shift-card-move-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  /*transform: translateY(30px);*/
}

.shift-card-leave-active {
  position: absolute;
}



.toggle-long-summary-enter-active, .toggle-long-summary-leave-active{
	/* for some reason putting this here doesn't work. So I put it into
	   .long-summary directly */
	transition-property: opacity;
	transition-duration:0.3s;
}

.toggle-long-summary-enter, .toggle-long-summary-leave-to /* .fade-leave-active below version 2.1.8 */ {
  	opacity: 0;
}

.toggle-long-summary-enter-to{
	opacity: 1;
}
