
$light_lightBase: #f1f1f1;
$light_mediumBase: #dddddf;
$light_darkBase: #8d8d8d;

/* PINK */
/* $light_lightBase: #ffe5df;
$light_mediumBase: #ffd3c9;
$light_darkBase: #8d8d8d; */


$light_extralightKey: #f1f1ff;
$light_lightKey: #7978b1;
$light_lighterKey: #8095ff;
$light_mediumKey: #6568ff;
$light_darkKey: #4c57bf;
$light_extraDarkKey: #3e458b;

$light_mediumAltKey: #1eaed1;

$light_text1: #464e79;
$light_text2: #b4bdff;

$dark_lightBase: #34332f;
$dark_text1: #b59e7a;

$hl-blue: #99cfb9;

/* Layout variables */
$content_width: 80vw;
$CONTENT_WIDTH_MOBILE: 90vw;
$WORK_EXP_MAX_WIDTH: 720px;
$content_max_width: 800px;
$HEADER_HEIGHT: 55px;


$v-tran-dur: 0.4s;