$light_lightBase: #eeeeee;
$light_mediumBase: yellow;
$light_lightKey: cyan;
$light_mediumKey: blue;
$light_text1: #464e79;

$dark_lightBase: #34332f;
$dark_text1: #b59e7a;

$hl-blue: #99cfb9;


$v-tran-dur: 0.4s;