
$light_lightBase: #f1f1f1;
$light_mediumBase: #dddddf;
$light_darkBase: #8d8d8d;

/* PINK */
/* $light_lightBase: #ffe5df;
$light_mediumBase: #ffd3c9;
$light_darkBase: #8d8d8d; */

/* KEY COLOR GROUP */
// Variation of key color so that they become properly darkened and lightened
$KEY_COLOR: #6568ff;
$KEY_COLOR_LIGHT: adjust-hue($KEY_COLOR, 0%);
$KEY_COLOR_HEAVY: desaturate($KEY_COLOR, 65%);

/* BASE COLOR SWATCHES */
// Use these on your components
$KEY_35: lighten($KEY_COLOR_LIGHT, 15%);
$KEY_40: lighten($KEY_COLOR_LIGHT, 10%);
$KEY_45: lighten($KEY_COLOR_LIGHT, 5%);
$KEY_50: $KEY_COLOR;
$KEY_80: darken($KEY_COLOR_HEAVY, 25%);

/* BASE COLOR GROUP */
// Variation of base color so that they become properly darkened and lightened
$BASE_DESAT: #ccc;

/* COMPONENTS */

$KEY_TEXT_50: $KEY_35;
$HEADER_TEXT: $KEY_TEXT_50;


$light_extralightKey: #f1f1ff;
$light_lightKey: #7978b1;
$light_lighterKey: #8095ff;
$light_mediumKey: #6568ff;
$light_darkKey: #4c57bf;
$light_extraDarkKey: #3e458b;

$light_mediumAltKey: #1eaed1;

$light_text1: #464e79;
$light_text2: #b4bdff;

$dark_lightBase: #34332f;
$dark_text1: #b59e7a;

$hl-blue: #99cfb9;

/* Layout variables */
$content_width: 80vw;
$CONTENT_WIDTH_MOBILE: 90vw;
$WORK_EXP_MAX_WIDTH: 720px;
$content_max_width: 800px;
$HEADER_HEIGHT: 55px;


$v-tran-dur: 0.4s;