@charset "UTF-8";
/* PINK */
/* $light_lightBase: #ffe5df;
$light_mediumBase: #ffd3c9;
$light_darkBase: #8d8d8d; */
/* Layout variables */
#portfolio_header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  height: 55px;
  /* padding: 0 30px; */
  /* adds padding without shrinking width*/
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  z-index: 100;
  color: #f1f1ff7d;
}
#portfolio_header .group {
  align-self: center;
  margin-right: 20px;
  align-items: center;
}
#portfolio_header a {
  color: #f1f1ff;
  padding: 0 5px;
  transition-property: color;
  transition-duration: 0.3s;
  text-decoration: none;
}
#portfolio_header a:hover {
  text-decoration: underline;
}
#portfolio_header a.logo {
  font-size: 1.5em;
  font-weight: bold;
}
#portfolio_header a.resume {
  border-radius: 5px;
  border: 1px solid white;
  padding: 7px 12px;
  margin-left: 10px;
}
#portfolio_header a.resume:hover {
  text-decoration: none;
  background-color: #ffffff29;
}
#portfolio_header .group:first-of-type {
  margin-left: 20px;
}

#portfolio_header.detached {
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(121, 120, 177, 0.28);
}
#portfolio_header.detached a {
  color: #7978b1;
}
#portfolio_header.detached a.resume {
  border: 1px solid #6568ff;
  color: #6568ff;
}
#portfolio_header.detached a.resume:hover {
  background-color: #6568ff12;
}

#portfolio_header #open_menu_btn {
  font-size: 1.7em;
}

#toggle_menu {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: -50px;
  width: 40vw;
  height: 100vh;
  background-color: white;
  padding: 15px 20px 0px 20px;
  text-align: right;
  opacity: 0;
  z-index: 102;
  /*above lightbox*/
  transition-property: opacity, right;
  transition-duration: 0.5s;
}
#toggle_menu a {
  font-size: 1.5em;
  color: #464e79;
  margin: 10px 0;
}

#toggle_menu.active {
  pointer-events: auto;
  opacity: 1;
  right: 0px;
}

@media (min-width: 570px) {
  .visible_mobile {
    display: none !important;
  }
}
/*
@media (max-width: 800px) {
	.card_project{
		width: 44vw;
	
	}
}*/
@media (max-width: 570px) {
  .visible_normal {
    display: none !important;
  }

  .visible_mobile {
    display: inline-block !important;
  }
}
html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #f1f1f1;
  color: #464e79;
  font-size: 12pt;
  height: 100%;
  /* for portfolio_wrapper to have scroll */
  overflow: hidden;
}

ul {
  list-style-type: square;
}

strong {
  color: #4753c5;
}

.color.red {
  color: #d1315c;
  font-weight: bold;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_row.wrap {
  flex-wrap: wrap;
}

.flex_row.centered {
  justify-content: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_column.wrap {
  flex-wrap: wrap;
}

.justify_center {
  justify-content: center;
}

.space_between {
  justify-content: space-between;
}

.box {
  flex-grow: 1;
}

.portfolio_wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.flushed_block {
  /* used for splash */
  display: flex;
  padding: 0;
}
.flushed_block .content {
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
}

.block {
  display: flex;
  padding: 35px 0;
}
.block .section_title_wrapper {
  font-size: 1.5em;
  margin: 50px 0 0 20px;
}
.block .section_title_wrapper .line {
  display: inline-block;
  flex-grow: 1;
  align-self: center;
  border-top: 2px solid #7271bb4f;
}
.block .section_title_wrapper .title {
  padding: 0 20px;
}
.block .content {
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
}
.block .content.flood {
  width: 100vw;
  max-width: 100vw;
  padding: 0;
}

/* for each sections */
#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.block#aboutme {
  background-color: white;
}

.block#workexp {
  background-color: #dddddf;
}

#contact {
  background-color: #3e458b;
  color: #b4bdff;
}

#footer {
  padding: 20px;
  justify-content: flex-end;
  background-color: #3e458b;
  color: #b4bdff;
}

@media (max-width: 570px) {
  .content {
    font-size: 0.9em;
  }

  .block .content {
    width: 90vw;
  }
  .block .content .section_title_wrapper {
    margin: 50px 20px 0px 20px;
  }
}
#intro {
  background-image: url("img/splash_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#intro .big_title {
  font-size: 3.2em;
  font-weight: bold;
  color: #5a68ec;
  text-decoration: none;
}
#intro a.big_title:hover {
  text-decoration: underline;
}
#intro h2.stick {
  margin-top: 4px;
  color: #5a68ec;
}
#intro h1 {
  font-size: 1.5em;
}

@media (max-width: 570px) {
  #intro .big_title {
    font-size: 2.5em;
  }
  #intro h2 {
    font-size: 1.5em;
  }
}
/* style will be added soon */
#key_skills {
  border: 4px solid #f1f1f1;
  border-radius: 10px;
}
#key_skills .skill_title {
  padding: 15px 35px;
  background-color: #f1f1f1;
}
#key_skills .skill_list {
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 35px;
  margin: 0;
  /*color: $light_mediumKey;*/
}
#key_skills .subskill_group {
  flex-grow: 1;
  margin: 10px 5px;
}
#key_skills .subskill_group .subskill_title {
  background-color: #dad9e9;
  padding: 10px;
  color: #464e79;
}
#key_skills .subskill_group .subskill_content {
  flex-shrink: 0;
  height: fit-content;
  margin: 0px;
  padding: 10px 15px;
  background-color: #f1f1f1;
  border-bottom: 2px solid #dbdbdb;
}
#key_skills .subskill_group .subskill_content li {
  list-style-type: none;
  padding: 5px;
  font-size: 1.1em;
}
#key_skills .subskill_group .subskill_content li.is_small {
  font-size: 0.7em;
}

.me_description {
  padding: 0px 35px;
}

#aboutme .content:last-of-type {
  padding-top: 0;
  margin-bottom: 80px;
}

@media (max-width: 570px) {
  .me_description {
    padding: 0px 15px;
  }
}
.cardlist {
  justify-content: center;
  margin-top: 20px;
}

.card_project {
  display: flex;
  flex-direction: column;
  position: relative;
  /* background-color: $light_mediumBase; */
  background-color: white;
  width: 22vw;
  height: 300px;
  font-size: 0.9em;
  border-bottom: 2px solid #8d8d8d;
  overflow: hidden;
  margin-top: 8px;
  /* $space_around_card - border */
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition-property: color, margin, border, background-color;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
}
.card_project .thumbnail {
  /* background-color: #c7c7c7;*/
  height: fit-content;
  padding: 8px;
  -webkit-filter: grayscale(70%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(70%);
  overflow: hidden;
  opacity: 0.5;
  transition-property: filter, opacity;
  transition-duration: 0.7s;
}
.card_project .thumbnail img {
  width: 100%;
  height: auto;
}
.card_project .card_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 20px 20px 20px;
}
.card_project .title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 0;
}
.card_project .tags span {
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0px 5px 5px 0;
  background-color: #2239a917;
  color: #192793;
  font-size: 0.8em;
  font-weight: bold;
}
.card_project .short_summary {
  overflow: hidden;
  transition-property: opacity;
  transition-duration: 0.4s;
  opacity: 1;
}
.card_project .short_summary .summary {
  margin-bottom: 5px;
}
.card_project .long_summary {
  transition-property: opacity;
  transition-duration: 0.5s;
}

.card_project:hover {
  margin-top: 0px;
  border-bottom: 10px solid #8d8d8d;
  /* background-color: #e3e3e5; */
}
.card_project:hover .thumbnail {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 1;
}

.card_project.active {
  background-color: white;
  margin-top: 0px;
  border-bottom: 10px solid #8d8d8d;
  color: #7978b1;
}

.card_project.opened {
  /* Used for adding slightly different transition property on 
     project cards they were "opened". Since "active" turns off
     immediately when closed, needed a second class to do this */
  transition-property: color, margin, border, background-color;
  transition-duration: 0.5s, 0.8s, 0.8s, 0.5s;
  transition-delay: 0.5s, 0.2s, 0.2s, 0.5s;
}

@media (max-width: 1100px) {
  .card_project {
    width: 30vw;
  }
}
@media (max-width: 800px) {
  .card_project {
    width: 44vw;
  }
}
@media (max-width: 570px) {
  .card_project {
    width: 85vw;
    /*font-size:0.9em;*/
    height: auto;
  }
  .card_project .thumbnail {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 1;
  }
}
.work_card_wrapper {
  width: 100%;
  /* This is set by script */
  /* background-color: $light_mediumBase; */
  margin: 20px 0 50px 0;
}

.content .work_card_wrapper:last-of-type {
  margin-bottom: 150px;
}

.work_card {
  position: relative;
  width: 80vw;
  max-width: 720px;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 0.2s;
}
.work_card .content_left {
  /* decorative bar */
  background-color: #4c57bf;
  flex-shrink: 0;
  width: 5px;
}
.work_card .content_right {
  /* contains actual content */
  flex-grow: 1;
  padding: 30px 35px;
}
.work_card .card_head {
  display: flex;
  flex-direction: row;
}
.work_card .card_head .role {
  flex-grow: 1;
  padding: 0 10px 0 0;
}
.work_card .card_head .role .role_name {
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.5em;
}
.work_card .card_head .role .role_company {
  font-weight: bold;
}
.work_card .card_head .year {
  width: fit-content;
  border-left: 1px solid #dddddf;
  padding: 10px 0 10px 20px;
}
.work_card .card_head .year span {
  align-self: center;
  margin-right: 10px;
}
.work_card .card_body {
  line-height: 1.3em;
}
.work_card .card_body ul {
  padding-left: 20px;
}
.work_card .card_body li {
  margin-bottom: 10px;
}
.work_card .tags {
  margin-left: 20px;
}
.work_card .tags span {
  border: 1px solid #6568ff;
  border-radius: 5px;
  padding: 3px 6px;
  margin: 0px 5px 5px 0;
  color: #6568ff;
  font-size: 0.7em;
}

@media (max-width: 570px) {
  .work_card {
    width: 90vw;
  }
  .work_card .card_head {
    flex-direction: column;
  }
  .work_card .card_head .year {
    align-self: flex-end;
    border-left: 0px solid;
  }
  .work_card .content_right {
    padding: 15px 12px 15px 20px;
  }
}
.card_activity_wrapper {
  margin: 20px 0;
  padding: 0 20px;
}

.card_activity_wrapper.indent {
  justify-content: flex-end;
}

.card_activity {
  background-color: white;
  padding: 25px 50px;
  width: 82%;
}
.card_activity .title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.5em;
}
.card_activity a {
  font-weight: bold;
  color: #6568ff;
  text-decoration: none;
}
.card_activity a:hover {
  text-decoration: underline;
}

@media (max-width: 570px) {
  .card_activity {
    background-color: transparent;
    padding: 30px 10px;
    width: 100%;
    border-bottom: 1px solid #c8c7e5;
  }

  .content .card_activity_wrapper:last-of-type .card_activity {
    border-bottom: 0px solid;
  }
}
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 101;
  pointer-events: none;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.lightbox.active {
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;
}

.lightbox.light {
  background-color: #00000036;
}

.modal {
  position: relative;
  cursor: default;
  align-self: center;
  background-color: white;
  margin: -10px auto 50px auto;
  width: 70vw;
  max-width: 750px;
  -webkit-box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.2);
  line-height: 1.5em;
  transition-property: margin;
  transition-duration: 0.6s;
}
.modal .close_btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  width: 50px;
  height: 50px;
  background-image: url("img/close_btn.png");
  background-size: cover;
  opacity: 0.7;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.modal .close_btn:hover {
  opacity: 1;
}
.modal .modal_unit {
  /* container for each unit of content */
  padding: 18px 50px 18px 40px;
}
.modal .modal_unit .content_unit {
  margin: 10px 0 30px 0;
}
.modal .modal_unit .content_unit ul {
  list-style: none;
  padding: 0;
}
.modal .modal_unit .content_unit ul li::before {
  content: "▶";
  margin-left: -23px;
  margin-right: 10px;
  color: #b4bdff;
}
.modal .modal_unit .content_unit li {
  padding-left: 40px;
}
.modal .modal_unit .content_unit:last-of-type {
  margin-bottom: 40px;
}
.modal .image_header {
  height: 280px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.modal .image_header .image_item {
  width: fit-content;
  border-left: 5px solid #2e2e2e;
  text-align: center;
}
.modal .image_header .image_item:first-of-type {
  border-left: 0px solid;
}
.modal .image_header img {
  height: 100%;
  width: auto;
}
.modal .title {
  background-color: #f1f1f1;
  font-size: 1.5em;
}
.modal .links .decorator {
  height: 60px;
  border-left: 1px solid #b4bdff;
  width: 0px;
  margin: 1em auto 10px auto;
}
.modal .links a {
  margin: 0 auto 7px auto;
  color: #6568ff;
  text-decoration: none;
}
.modal .links a:hover {
  color: #4c57bf;
  text-decoration: none;
}
.modal .description {
  margin-left: 30px;
  margin-right: 30px;
}
.modal .challenges strong {
  color: #1eaed1;
}
.modal .section_title {
  /* color: #1eaed1; */
  font-size: 1.1em;
  align-items: center;
  font-weight: bold;
}
.modal .section_title .title_icon {
  display: inline-block;
  width: 40px;
  font-size: 1.5em;
}

.lightbox.active .modal {
  margin-top: 30px;
}

@media (max-width: 800px) {
  .modal {
    width: 85vw;
    font-size: 0.9em;
  }
}
@media (max-width: 570px) {
  .modal {
    width: 100vw;
  }

  .lightbox.active .modal {
    margin-top: 0px;
  }
}
.shift-card-move {
  transition: transform 0.4s;
}

.shift-card-move-complete-enter, .shift-card-move-complete-leave-to {
  opacity: 0;
  /*transform: translateY(30px);*/
}

.shift-card-leave-active {
  /* you need this to animate shifting when cards leave */
  position: absolute;
}

.toggle-long-summary-enter-active, .toggle-long-summary-leave-active {
  /* for some reason putting this here doesn't work. So I put it into
     .long-summary directly */
  transition-property: opacity;
  transition-duration: 0.3s;
}

.toggle-long-summary-enter, .toggle-long-summary-leave-to {
  opacity: 0;
}

.toggle-long-summary-enter-to {
  opacity: 1;
}

/*# sourceMappingURL=master.css.map */
